@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

html { 
  scroll-behavior: smooth; 
}

html body  {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width: 100%;
  height: 1000px;
  background-color: #3a1e4b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  overflow: hidden;
  position: relative;
}

main .hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

@media (max-width: 992px) {
  #brand, #hero-text{
    position: relative;
    left: 50%;
    transform: translateX(-50%)
  }
}

@media (min-width: 800px) {
  main .hero {
    top: 5%;
  }
}

@media (min-width: 992px) {
  #head-agenda h1{
    font-size: 4rem;
  }
}

main .wrap{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  perspective: 360px;
  perspective-origin: 50% 50%;
}

.wrap .container{
  position:relative;
  z-index: 9999;
}

.featurette-img{
  border-radius:25%;
  overflow:hidden; 
}

.featurette-img img {
  height: 500 px;
}

/* Customiza Bootstrap Font Classes */

.h1, h1 {
  font-size: 3rem;
}

.lead {
  font-size: 1.50rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  .lead{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.50rem;
  }
}

.display-5 {
  font-weight: 400;
}

/* Buttons */

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00a123;
  --bs-btn-border-color: #00a123;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #026e19;
  --bs-btn-hover-border-color: #026e19;
  --bs-btn-focus-shadow-rgb: 38, 255, 53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #026e19;
  --bs-btn-active-border-color: #026e19;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00a123;
  --bs-btn-disabled-border-color: #00a123;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
--bs-btn-border-color: #fff;;
--bs-btn-hover-color: #292929;
--bs-btn-hover-bg: #fff;
--bs-btn-hover-border-color: #fff;
--bs-btn-focus-shadow-rgb: 108,117,125;
--bs-btn-active-color: #292929;
--bs-btn-active-bg: #fff;
--bs-btn-active-border-color: #6c757d;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #6c757d;
--bs-btn-disabled-bg: transparent;
--bs-btn-disabled-border-color: #6c757d;
--bs-gradient: none;
}

