@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

:root {
  /* #3a1e4b */
  --purple: 58,30,75;
  --purple-ii: 41,21,54;
  --searq-yellow: 246,168,64;
}

html { 
  scroll-behavior: smooth; 
}

html body  {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width: 100%;
  height: 1000px;
  background-color: #3a1e4b;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#support{
  margin-top: 100px;
  margin-bottom: 210px;
}

main {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #3a1e4b;
}

main .hero {
  position: absolute;
  left: 50%;
  transform: translateX(-50%)
}

@media (min-width: 575px){

  #support .row .col{
    position: relative;
    height: 216px;
  }
  
  #support .row .col img{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
}

#footer .pb-0 .mb-4 a{
  margin-top: 1.5rem !important;
}

@media (max-width: 992px) {
  #brand, #hero-text{
    position: relative;
    left: 50%;
    transform: translateX(-50%)
  }
}

@media (min-width: 800px) {
  main .hero {
    top: 5%;
  }
}

@media (min-width: 992px) {
  #head-agenda h1{
    font-size: 4rem;
  }
}

main .wrap{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  perspective: 360px;
  perspective-origin: 50% 50%;
  display: flex;
}

.wrap .container{
  position:relative;
  z-index: 9999;
}

.featurette-img{
  border-radius:25%;
  overflow:hidden; 
}

.featurette-img img {
  height: 500 px;
}

/* ABOUT */

.hex-purple{
  background-color: #411d49;
}

.hex-purple:before{
  border-bottom: 30px solid #411d49;
}

.hex-purple:after{
  border-top: 30px solid #411d49;
}



.hex-yellow{
  background-color: #F7A941;
}

.hex-yellow:before{
  border-bottom: 30px solid #F7A941;
}

.hex-yellow:after{
  border-top: 30px solid #F7A941;
}

.hex-yellow2{
  background-color: #BF8041;
}

.hex-yellow2:before{
  border-bottom: 30px solid #BF8041;
}

.hex-yellow2:after{
  border-top: 30px solid #BF8041;
}

.hex-grey{
  background-color: #7E787F;
}

.hex-grey:before{
  border-bottom: 30px solid #7E787F;
}

.hex-grey:after{
  border-top: 30px solid #7E787F;
}

.hex:before {
  content: " ";
  width: 0; height: 0;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  position: relative;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hex-col {
  margin-bottom: 60px;
}

/* CUSTOMIZE CARDS
-------------------------------------------------- */

.card{
  --bs-card-bg:none;
}

.card-shadow{
  box-shadow: 0px 0px 10px rgba(0,0,0,.5) !important;
}


/* Customiza Bootstrap Font Classes */

.h1, h1 {
  font-size: 3rem;
}

.lead {
  font-size: 1.50rem;
  font-weight: 400;
}

@media (max-width: 992px) {
  .lead{
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.50rem;
  }
}

.display-5, .display-4, .display-3 {
  font-weight: 400;
}

.navbar{
  --bs-navbar-color: #f6a840;
  --bs-navbar-hover-color: #f1d21f;
  --bs-navbar-disabled-color: #f6a840;
  --bs-navbar-active-color: #f1d21f;
  --bs-navbar-brand-color: #f6a840;
  --bs-navbar-brand-hover-color: #f1d21f;
}


/* Customiza Bootstrap Buttons */

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #00a123;
  --bs-btn-border-color: #00a123;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #026e19;
  --bs-btn-hover-border-color: #026e19;
  --bs-btn-focus-shadow-rgb: 38, 255, 53;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #026e19;
  --bs-btn-active-border-color: #026e19;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #00a123;
  --bs-btn-disabled-border-color: #00a123;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
--bs-btn-border-color: #fff;;
--bs-btn-hover-color: #292929;
--bs-btn-hover-bg: #fff;
--bs-btn-hover-border-color: #fff;
--bs-btn-focus-shadow-rgb: 108,117,125;
--bs-btn-active-color: #292929;
--bs-btn-active-bg: #fff;
--bs-btn-active-border-color: #6c757d;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #6c757d;
--bs-btn-disabled-bg: transparent;
--bs-btn-disabled-border-color: #6c757d;
--bs-gradient: none;
}

.navbar-toggler{
  border: none;
  border-color: #fff;
}
 .navbar-toggler span{
  color: #fff;
 
 }

/* General color pallet */

.txt-searq-secundary{
  color: #f6a840;
}

.bg-primary-purple{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--purple),var(--bs-bg-opacity)) !important;
  color: #fff;
}

.bg-secondary-purple{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--purple-ii),var(--bs-bg-opacity)) !important;
  color: #fff;
}

.searq-text-muted {
  --bs-text-opacity: 1;
  color: #9f73b9 !important;
}

.text-ligth-grey {
  --bs-text-opacity: 1;
  color: #d3dbe2 !important;
}